@import "tailwindcss";
/* DaisyUI plugin should be added in the Tailwind CSS configuration file, not in the CSS file */

/* This is the theme for the Landing page */
.bgland{
  background-color: #fdfbfb ;
}
.bgbutton{
  background-color: #1d3b53;
}
.textcol{
  color: black;
}
/* Font styles */
.roboto{
  font-family: "Roboto", sans-serif;
  
}
.iceland{
  font-family: "Iceland", sans-serif;

}
.poppin{
  font-family: "Poppins", sans-serif;

}

/* This is the theme for the Canteen */
.cancard{
  background-color: #FAE5E5;
}
.textcanteen{
  color: #FA5555 ;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
/* Force center the modal */
#updateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure the modal stays on top */
}
